Repository trailmix/utilities: changes, and which Codecov flags are due for each by the changed paths.
All: color, common, config, log, watch

stringify bigint
  src/common/string.ts
Due: common

add async testfunction
  src/common/table.ts
Due: common

merge deepObjects w/ config
  src/config/Config.ts
  src/config/Config_test.ts
  src/config/StringConfig.ts
Due: config

early logger
  src/log/Log.d.ts
  src/log/Log.ts
  src/log/Log_test.ts
  src/log/mod.ts
Due: log

increase coverage
  src/common/file_test.ts
Due: none

test strings
  src/common/string.ts
  src/common/string_test.ts
Due: common

console for coloring json strings
  src/common/console.ts
  src/common/console_test.ts
Due: common

increase coverage for file
  src/common/file_test.ts
Due: none

cleanup
  src/common/console.ts
  src/common/enum.ts
  src/common/mod.ts
  src/common/object_test.ts
Due: common

clean up table, add color, and better render
  src/common/table.d.ts
  src/common/table.ts
Due: common

more table clean
  src/common/table.ts
Due: common

clean up imports in common
  src/common/array_test.ts
  src/common/console.ts
  src/common/file.ts
  src/common/mod.ts
  src/common/string_test.ts
  src/common/table.d.ts
  src/common/table.ts
  src/common/test.d.ts
  src/common/test.ts
Due: common

clean up color tests
  src/color/Color.ts
  src/color/Color_test.ts
  src/common/console_test.ts
Due: color

clean up config tests
  src/config/Config.ts
  src/config/Config_test.ts
  src/config/EnvConfig.ts
Due: config

add none and clear
  src/color/Color.ts
  src/color/enum.ts
Due: color

console handles ansi strings in consoleColor
  src/common/console.ts
  src/common/console_test.ts
  src/common/test.ts
Due: common

minor color fix
  src/color/Color_test.ts
Due: none

log🪵
  import_map.json
  mod.ts
  src/common/console.ts
  src/common/console_test.ts
  src/common/enum.ts
  src/log/Log.d.ts
  src/log/Log.ts
  src/log/Log_test.ts
  src/log/enum.ts
  test/common/mod.ts
  test/common/utils.ts
  test/deps.ts
Due: common, log

big config changes
  CONTRIBUTE.md
  README.md
  src/common/console_test.ts
  src/common/file.d.ts
  src/common/file.ts
  src/common/file_test.ts
  src/common/mod.ts
  src/common/string_test.ts
  src/config/Config.d.ts
  src/config/Config.ts
  src/config/Config_test.ts
  src/config/EnvConfig.ts
  src/config/FileConfig.ts
  src/config/FlagConfig.ts
  src/config/ObjectConfig.ts
  src/config/StringConfig.ts
  src/config/mod.ts
  src/deps.ts
  src/log/Log_test.ts
  trailmix.config.ts
  trailmix.json
  trilom.config.js
  trilom.config.ts
Due: common, config

update dockerfile
  .docker/Dockerfile
Due: none

update codecov
  .codecov.yml
Due: none

fix ci
  .github/workflows/ci.yml
  CONTRIBUTE.md
  README.md
Due: none

use resolve for file path
  src/config/Config.ts
  src/config/EnvConfig.ts
  src/config/FileConfig.ts
  src/config/FlagConfig.ts
Due: config

more resolve for windows
  src/common/console_test.ts
  src/common/string_test.ts
  src/config/Config_test.ts
Due: none

deno for matt
  CONTRIBUTE.md
  README.md
Due: none

more resolve
  src/common/console_test.ts
  src/common/string_test.ts
Due: none

add a join
  src/common/console_test.ts
  src/config/Config_test.ts
  src/config/FileConfig.ts
  src/deps.ts
Due: config

add toFileUrl for more safety, f 🎻's
  src/common/console_test.ts
  src/common/file.ts
  src/common/file_test.ts
Due: common

ger srs about file paths
  .github/workflows/ci.yml
  src/common/file.ts
  src/common/file_test.ts
  src/common/mod.ts
  src/common/string_test.ts
  src/config/Config_test.ts
  src/config/FileConfig.ts
  src/deps.ts
Due: common, config

use choco instead of bash
  .github/workflows/ci.yml
Due: none

use choco right
  .github/workflows/ci.yml
Due: none

need to generate report
  .github/workflows/ci.yml
Due: none

change -F to --flag
  .github/workflows/ci.yml
Due: none

move env stuff to env fns
  src/common/file.ts
Due: common

⅕ fiiiif
  .docker/Dockerfile
  .github/workflows/ci.yml
  README.md
Due: none

i wanted common here, derp
  .github/workflows/ci.yml
Due: none

big color changes, F 🎸🧵s
  src/common/console.ts
  src/common/console_test.ts
  src/common/enum.ts
  src/common/string.ts
  src/common/string_test.ts
Due: common

🧹clean up
  src/common/array_test.ts
  src/common/console.ts
  src/common/console_test.ts
  src/common/object_test.ts
Due: common

test fixture change
  src/common/object_test.ts
Due: none

Path conditions:
  color: any of: src/color/, but not: **/*_test.ts, **/*_test.tsx
  common: any of: src/common/, but not: **/*_test.ts, **/*_test.tsx
  config: any of: src/config/, but not: **/*_test.ts, **/*_test.tsx
  log: any of: src/log/, but not: **/*_test.ts, **/*_test.tsx
  watch: any of: src/watch/, but not: **/*_test.ts, **/*_test.tsx
