Repository trailmix/utilities: changes, and which Codecov flags are due for each by the changed paths.
All: color, common, config, log, watch

make fixed paths relative
  src/common/console_test.ts
  src/common/object_test.ts
Due: none

regex handle winders🪟
  src/common/console.ts
Due: common

handle edge windows case, fix error stringify
  src/common/console.ts
  src/common/console_test.ts
  src/common/string.ts
  src/common/string_test.ts
Due: common

broken edge case
  src/common/console.ts
  src/common/console_test.ts
Due: common

plz read me
  README.md
  src/color/README.md
  src/common/README.md
  src/config/README.md
  src/log/README.md
  src/watch/README.md
Due: color, common, config, log, watch

reorder imports, fix more regex
  src/color/Color_test.ts
  src/color/mod.ts
  src/common/console.ts
  src/common/console_test.ts
  src/common/file.ts
  src/common/mod.ts
  src/common/table.ts
  src/common/test.ts
Due: color, common

remove redundant
  .github/workflows/ci.yml
Due: none

.91 to .94 of std
  import_map.json
Due: none

go away
  trilom.config.js
Due: none

Path conditions:
  color: any of: src/color/, but not: **/*_test.ts, **/*_test.tsx
  common: any of: src/common/, but not: **/*_test.ts, **/*_test.tsx
  config: any of: src/config/, but not: **/*_test.ts, **/*_test.tsx
  log: any of: src/log/, but not: **/*_test.ts, **/*_test.tsx
  watch: any of: src/watch/, but not: **/*_test.ts, **/*_test.tsx
