Repository trailmix/utilities: changes, and which Codecov flags are due for each by the changed paths.
All: color, common, test

.codecov.yml:

# codecov:
#   notify:
#     require_ci_to_pass: yes

coverage:
  status:
    project:
      default:
        target: auto
        threshold: 7%
        base: auto
        if_ci_failed: success
      color:
        flags:
          - color
      common:
        flags:
          - common
      test:
        target: 60%
        threshold: 10%
        if_ci_failed: error
        flags:
          - test
  precision: 2
  round: down
  range: '70...100'

flags:
  color:
    paths:
      - src/color/**
      - '!src/color/**_test.ts'
  common:
    paths:
      - src/common/**
      - '!src/common/**_test.ts'
  test:
    paths:
      - test/**
      - '!src/**'
parsers:
  gcov:
    branch_detection:
      conditional: yes
      loop: yes
      method: no
      macro: no

comment:
  layout: 'reach,diff,flags,tree'
  behavior: default
  require_changes: no
  require_base: yes
  require_head: yes
  # branches: null

remove targets
  .github/workflows/ci.yml
Due: none

building out config objs
  .codecov.yml
  src/config/Config.d.ts
  src/config/Config.ts
  src/config/Config_test.ts
  src/config/Config_tests.ts
  src/config/EnvConfig.ts
  src/config/NewConfig.ts
  src/config/NewConfig_test.ts
  src/config/ObjectConfig.ts
  src/config/StringConfig.ts
  src/config/mod.ts
  src/deps.ts
  src/log/Log.d.ts
  src/log/Log_test.ts
  test/deps.ts
  trailmix.config.ts
  trilom.config.ts
Due: test

remove eslint, prettier, pkg.json use vscode
  .eslintrc.js
  .prettierignore
  .prettierrc.js
  .vscode/settings.json
  package.json
  yarn.lock
Due: none

add dockerfile
  .docker/Dockerfile
  CONTRIBUTE.md
Due: none

update test string
  .github/workflows/ci.yml
Due: none

oops in ci, update readme
  .github/workflows/ci.yml
  README.md
Due: none

fix deps
  README.md
  mod.ts
  src/deps.ts
  src/log/mod.ts
  src/watch/Watch.ts
  src/watch/WatchFactory.ts
Due: none

this is deno for matt
  CONTRIBUTE.md
  README.md
  src/color/Color.d.ts
  src/color/Color.ts
  src/color/Color_test.ts
  src/color/mod.ts
  src/common/Array.ts
  src/common/Array_test.ts
  src/common/mod.ts
  src/config/Config.ts
  src/config/Config_test.ts
  src/log/Log.d.ts
  src/log/Log.ts
  src/log/enum.ts
  src/watch/mod.ts
  test/common/mod.ts
  test/common/table.ts
  test/common/utils.ts
  trailmix.config.ts
  trilom.config.ts
Due: color, common, test

update regex to support windows paths
  src/config/NewConfig_test.ts
Due: none

the other regex
  src/config/NewConfig_test.ts
Due: none

a commit
  .codecov.yml
Due: none

env config parses env in namespace
  .codecov.yml
  .github/workflows/ci.yml
  src/config/EnvConfig.ts
  src/config/NewConfig.ts
  src/config/NewConfig_test.ts
Due: none

optional lowercase
  src/config/EnvConfig.ts
  src/config/NewConfig_test.ts
Due: none

override default with env
  src/config/EnvConfig.ts
  src/config/NewConfig_test.ts
  src/log/mod.ts
Due: none

StringConfig supports camelCase to obj
  src/config/EnvConfig.ts
  src/config/NewConfig_test.ts
  src/config/StringConfig.ts
Due: none

reduce test target
  .codecov.yml
Due: none

remove oldConfig for newConfig
  src/config/Config.d.ts
  src/config/Config.ts
  src/config/Config_test.ts
  src/config/EnvConfig.ts
  src/config/NewConfig.ts
  src/config/NewConfig_test.ts
  src/config/ObjectConfig.ts
  src/config/StringConfig.ts
  src/config/mod.ts
Due: none

found edge case writing docs, simplify strParse
  src/config/Config_test.ts
  src/config/StringConfig.ts
Due: none

remove some log statments
  src/config/Config_test.ts
Due: none

real test for StringConfig.parseLog() lol
  src/config/Config_test.ts
  src/config/StringConfig.ts
Due: none

add config
  README.md
  mod.ts
  src/config/Config.d.ts
  src/config/Config.ts
  src/config/Config_test.ts
  src/config/EnvConfig.ts
  src/config/StringConfig.ts
Due: none

move table to common
  .codecov.yml
  src/common/enum.ts
  src/common/mod.ts
  src/common/table.d.ts
  src/common/table.ts
  src/deps.ts
  test/common/mod.ts
  test/common/table_test.ts
  test/deps.ts
Due: common, test

add file
  src/common/File.d.ts
  src/common/File.ts
  src/common/File_test.ts
Due: common

fix tests
  src/color/Color_test.ts
  src/common/Array_test.ts
Due: none

remove yarn dep from vscode
  .vscode/launch.json
Due: none

more vscode
  .vscode/settings.json
Due: none

update contribute
  CONTRIBUTE.md
  src/common/Array_test.ts
  src/common/File.ts
  src/common/File_test.ts
  src/common/mod.ts
Due: common

forgot these
  src/config/Config.ts
  src/config/Config_test.ts
Due: none

file cases
  src/common/array.ts
  src/common/array_test.ts
  src/common/file.ts
  src/common/file_test.ts
Due: common

one more
  src/common/file.d.ts
Due: common

allow deno write
  .github/workflows/ci.yml
Due: none

one more capital
  src/common/mod.ts
Due: common

strings will always suck
  src/common/file.ts
Due: common

this is more generic
  src/common/file_test.ts
Due: none

try to change src path
  .codecov.yml
  .github/workflows/ci.yml
Due: none

adjust coverage for common
  .codecov.yml
Due: none

deno 4 matt
  .vscode/launch.json
  README.md
Due: none

update readme for 1.0.4
  README.md
Due: none

clean up imports
  src/color/Color_test.ts
  src/common/array_test.ts
  src/common/enum.ts
  src/common/file_test.ts
  src/common/mod.ts
  src/common/table.d.ts
  src/log/enum.ts
  test/common/utils.ts
Due: common, test

deep merge objects
  src/common/object.ts
  src/common/object_test.ts
Due: common
